workflows/email-triage.json
{
  "name": "Email Triage",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "is:unread"
        }
      },
      "id": "1",
      "name": "Gmail Trigger (Account 1)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [ 0, 0 ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "is:unread"
        }
      },
      "id": "2",
      "name": "Gmail Trigger (Account 2)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [ 0, 200 ]
    },
    {
      "parameters": {
        "prompt": "You are an email triage assistant. Read the following email and classify it as 'URGENT', 'NEWSLETTER', or 'NORMAL'. Reply with ONLY the classification word. Email Content: {{ $json.snippet }}"
      },
      "id": "3",
      "name": "Classify Email",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [ 250, 100 ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text }}",
              "operation": "contains",
              "value2": "URGENT"
            }
          ]
        }
      },
      "id": "4",
      "name": "Is Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 450, 100 ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst options = { timeZone: 'Australia/Melbourne', hour: '2-digit', hour12: false };\nconst hourStr = new Intl.DateTimeFormat('en-AU', options).format(now);\nconst hour = parseInt(hourStr, 10);\n\n// Between 18:00 and 20:00 (inclusive of 18, exclusive of 20)\nif (hour >= 18 && hour < 20) {\n  return [{ json: { dnd: true, hour } }];\n}\nreturn [{ json: { dnd: false, hour } }];"
      },
      "id": "5",
      "name": "Check DND Time (AEST)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [ 650, 80 ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.dnd }}",
              "value2": false
            }
          ]
        }
      },
      "id": "6",
      "name": "If Not DND",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 850, 80 ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=URGENT EMAIL\nFrom: {{ $('Gmail Trigger (Account 1)').item.json.from || $('Gmail Trigger (Account 2)').item.json.from }}\nSubject: {{ $('Gmail Trigger (Account 1)').item.json.subject || $('Gmail Trigger (Account 2)').item.json.subject }}\n\nPlease check your inbox."
      },
      "id": "7",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [ 1050, 60 ]
    }
  ],
  "connections": {
    "Gmail Trigger (Account 1)": {
      "main": [
        [
          {
            "node": "Classify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger (Account 2)": {
      "main": [
        [
          {
            "node": "Classify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Email": {
      "main": [
        [
          {
            "node": "Is Urgent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Urgent?": {
      "main": [
        [
          {
            "node": "Check DND Time (AEST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DND Time (AEST)": {
      "main": [
        [
          {
            "node": "If Not DND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not DND": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}